html, body {
    height: 100%; 
    margin: 0; 
  }

  .manage-container {
    background-color: #f1f1f1;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .white-rectangle {
    background-color: white;
    width: 1680.002px;
    height: 936.924px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    
  }

  
  