.white-circle {
  width: 218px;
  height: 218px;
  background-color: white;
  border-radius: 50%;  
  position: absolute;
  top: 279px;
  left: 50%;
  transform: translateX(-50%);
}

.circle-image {
  width: 100%;  
  height: 100%; 
  object-fit: cover; 
  border-radius: 50%; 
  overflow: hidden; 
}

.email-text {
  color: black;
  font-size: 20px;
  font-family: Arial;
  font-weight: 700;
  position: absolute;
  top: 503px;
  left: 50%;
  transform: translateX(-50%);
}

.edit-profile-button {
  width: 202px;
  height: 36px;
  background-color: #008080;
  box-shadow: 0px 0px 19.665578842163086px rgba(0, 0, 0, 0.12);
  border-radius: 7.02px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  position: absolute;
  top: 545px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.edit-profile-text {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Acme;
}


.postdog-heading {
  color: black;
  font-size: 32px;
  font-family: 'Acme';
  position: absolute;
  top: 204px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  text-align: center; 
}

.listings-subheading {
  color: black;
  font-size: 20px;
  font-family: 'Acme';
  position: absolute;
  top: 274px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  text-align: center; 
}

.small-new-post-button {
  padding: 5px;
  height: 45px;
  background-color: #FD7401;
  border-radius: 7.02px;
  position: relative;
  cursor: pointer;
}

.small-new-post-text {
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: 'Acme';
}

.label-rectangle {
  display: flex;
  padding-inline: 50px;
  width: 100%;
  height: 53px;
  background-color: #f1f1f1;
  border: 1px solid black;
  position: relative;
  align-items: center;
}

.listing-label {
  font-size: 32px;
  font-family: 'Acme';
  flex: 1;
  text-align: center;
}

.action-button {
  background: #FD7401;
  border: none;
  border-radius: 7.02px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: 'Acme';
  cursor: pointer;
}

.listing-row {
  display: flex;
  align-items: center;
  padding-inline: 50px;
  border-bottom: 1px solid #ccc;
}

.doggy-image-container {
  align-self: center;
  flex: 1;
  padding-block: 10px;
}

.doggy-image {
  width: 75%;
  height: 15vh;
  object-fit:fill;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.dog-info, .dog-status, .dog-action {
  flex: 1;
  text-align: center;
  font-size: 32px;
  font-family: 'Acme';
}

.dog-status {
  color: green;
}

.dropdown-content {
  display: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .dropdown-item {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content {
  background-color: #f1f1f1;
}

.dropdown-content {
  display: block;
}

.inbox-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .doggy-image{
    height: 10vh;
  }
}

@media (max-width: 780px) {
  .dog-info, .dog-status, .dog-action,.action-button, .dropdown-item{
    font-size: 20px;
  }
  .label-rectangle{
    padding: 0;
  }
  .listing-row{
    padding: 0;
  }
}

@media (max-width: 579px) {
  .dog-info, .dog-status, .dog-action,.action-button, .dropdown-item, .listing-label{
    font-size: 16px !important;
  }
  .doggy-image{
    height: 7vh;
  }
}

@media (max-width: 400px) {
  .dog-info, .dog-status, .dog-action,.action-button, .dropdown-item, .listing-label{
    font-size: 14px !important;
  }
  .doggy-image{
    height: 5vh;
  }
}