.match-button {
    width: auto; 
    padding: 9px;
    background: #FD7401;
    box-shadow: 0px 0px 19.665578842163086px rgba(0, 0, 0, 0.12);
    border-radius: 7.02px;
    border: 1px black solid;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'Acme', sans-serif;
    cursor: pointer; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.matching-contaiener{
    margin: auto;
    padding-left: 20px;
}

@media (max-width:535px) {
    .input-pair select {
        width: 120px;
    }
}

@media (max-height: 740px) {
    .input-pair select {
        margin-bottom: 0;
        font-size: 14px;
    }
}