.white1-rectangle {
  background-color: white;
  width: 87.9%;
  height: 97.8vh;
  display: flex;
  justify-content:flex-start; 
  position: relative; 
  overflow-y: auto;
}

.application-rectangle {
    width: 30vw;
    height: 98%;
    background: #D5EAEA;
    border-radius: 14.05px;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.application-heading-text {
    color: black;
    font-size: 40px;
    font-family: 'Acme', sans-serif;
    padding-top: 100px;
    text-align: center; 
}

.application-text {
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding-top: 17px;
    text-align: center; 
}

  .adoption-button {
    width: 446px;
    height: 76px;
    background: #FD7401;
    box-shadow: 0px 0px 19.67px rgba(0, 0, 0, 0.12);
    border-radius: 7.02px;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}

.adoption-button-text {
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'Acme', sans-serif;
}

.adop-dog-card {
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }

  .adoption-form-style {
    height: auto;
    position: relative;
    top: 59px;
    left: 5vw;
}

.adoption-input-group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 16px;
}

@media (max-width: 1510px) {
  .adop-dog-card{
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .application-rectangle{
    display: none;
  }
  .adoption-form-style{
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-height: 740px) {
  .adoption-form-style{
    top: 20vh;
  }
}

@media (max-width: 600px) {
  .adoption-button{
    width: 70%;
  }
}