 .colored-rectangle {
    width: 72%;
    height: 97%;
    background: #D5EAEA;
    border-radius: 14.05px;
    position: relative;
    top: 14px; 
    left: 14px; 
    overflow: hidden;
}

.signup-heading-text {
    color: black;
    font-size: 40px;
    font-family: 'Acme', sans-serif;
    word-wrap: break-word;
    padding-top: 100px; 
    padding-left: 57px;
}

.description-text {
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    padding-top: 17px; 
    padding-left: 57px; 
    padding-right: 100px;
}

.additional-rectangle {
    width: 85%;
    height: auto;
    background: #BCDADA;
    border-radius: 21px;
    border: 1px solid black;
    margin-top: 228px; 
    left: 50%;
    transform: translateX(-50%);
    position: absolute; 
}

.quote-text {
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: 'Calibri', sans-serif;
    word-wrap: break-word;
}

.paw-pic {
    position: relative;
    left: 390px; 
    top: 550px; 
  }

  .form-container {
    width: 100%;
    height: 100%;
    position: relative;
    top:0%;
    padding-right: 70px; 
    justify-content: flex-end;
  }
  
  .form-field {
    position: relative;
    margin-bottom: 20px;
    left: 10%;
    width: 100%;
}

  .company-name-input {
    width: 89% !important;
  }

.input-field {
  color: #8D8D8D;
  font-size: 19.67px;
  font-family: 'Acme', sans-serif;
  word-wrap: break-word;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  padding: 8px 0;
  margin-bottom: 20px;
  outline: none;
  position: relative;
}

.label {
  position: relative;
  color: black;
  font-size: 16.86px;
  font-family: 'Acme', sans-serif;
  line-height: 28.09px;
  margin-bottom: 5px;
}

.input-field, .label {
  width: 90%;
}

.form-field-group {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  position: relative;
}

.create-account-button {
  width: 45%;
  height: 100%;
  padding: 2% 5%; /* top/bottom padding 20px, left/right padding 80px */
  background: #FD7401;
  box-shadow: 0px 0px 19.67px rgba(0, 0, 0, 0.12);
  border-radius: 7.02px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  left: 30%;
  position: relative;
}

.signup-button-text {
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'Acme', sans-serif;
    word-wrap: break-word;
}

.popup-message {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: #fff;
    padding: 40px; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 50%; 
    max-width: 600px; 
    text-align: center; 
}

.popup-message {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: #fff;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 50%;
    max-width: 600px;
    text-align: center;
}

.popup-message button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.popup-success {
    border-color: green;
}

.popup-error {
    border-color: red;
}

.popup-message p {
    margin: 0 0 20px 0; 
    font-size: 30px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

@media screen and (max-width: 1013px) {
  .colored-rectangle {
      display: none; 
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-right: 0;
    height: 100vh;
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
}

  .form-field, .create-account-button {
      left: 50%;
      margin-left: 0;
      transform: translateX(-50%);
      width: 80%;
      height: auto;
  }
  .signup-form{
    width: 80vw;
  }

  .form-field-group{
    left: -18%;
  }

  .company-name-input, .form-input, .input-field {
      margin-left: 0;
  }

  .create-account-button {
      left: 55%;
      width: 50%;
  }

  .company-name-input {
    width: 113% !important;
  }
}

@media (max-width: 419px) {
  .label {
    font-size: 12px;
  }
}