/* Signup.css */
html, body {
  height: 100%; 
  margin: 0; 
}

.signup-container {
  background-color: #f1f1f1;
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.white1-rectangle {
  background-color: white;
  width: 87.9%;
  height: 97.8vh;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.signup-rectangle {
  width: 690px;
  height: 442px;
  background: #D5EAEA;
  border-radius: 14.05px;
  top:7%;
  position: relative; 
}

.account-type-text {
  color: black;
  font-size: 40px;
  font-family: 'Acme', sans-serif;
  position: relative; 
  text-align: center;
  top: 13%; 
}

.vertical-line {
  width: 1px; 
  height: 293px; 
  transform-origin: 0 0;
  border: 1px solid rgb(0, 0, 0);
  position: absolute; 
  left: 50%;
  bottom: 0;
}
.horizontally-line {
  width: 100%; 
  height: 1px; 
  border: 1px solid rgb(0, 0, 0);
  position: absolute; 
  top: 33.5%; 
}

.shelter-breeder-button {
  padding: 3%;
  width: 40%;
  background: #FF7F50;
  box-shadow: 0px 0px 19.665578842163086px rgba(0, 0, 0, 0.12);
  border-radius: 7.02px;
  position: absolute; 
  left: 5%; 
  top: 206px; 
  cursor: pointer;
}

.customer-account-button {
  padding: 3%;
  width: 40%;
  background: #008080;
  box-shadow: 0px 0px 19.665578842163086px rgba(0, 0, 0, 0.12);
  border-radius: 7.02px;
  justify-content: center;
  align-items: center;
  position: absolute; 
  right: 5%; 
  top: 206px; 
  cursor: pointer;
}

.button-text {
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: 'Acme', sans-serif;
  word-wrap: break-word;
}

.shelter-text {
  color: black;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;
  position: absolute; 
  left: 5%; 
  bottom: 58px;
}

.adopt-text {
  color: black;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;
  position: absolute; 
  right: 6%; 
  bottom: 58px; 
}

.peeking-dog {
  width: 264px;
  height: 264px;
  transform-origin: 0 0;
  position: absolute; 
  top: -17%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-3deg);
  z-index: 2;
}

@media (max-width:890px) {
  .signup-rectangle {
    width: 90%;
  }
  .adopt-text{
    font-size: 2.2vw;
    right: 8%;
  }
  .shelter-text{
    font-size: 2.2vw;
  }
  .button-text{
    font-size: 20px;
  }
}

@media (max-width:545px) {
  .account-type-text{
    font-size: 30px;
  }
}